*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --space1: #210535;
    --space2: #430D4B;
    --space3: #7B337D;
    --mars1: #D8572A;
    --mars2: #DB7c26;
    --alien1: #6CC417;
}

html{
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 62.5%;
    height: 100vh;
    width: 100vw;
}

/* --------- Starry background ------- */
.stars, .shiny{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}

.stars{
    background: var(--space1) url(img/stars.webp) repeat top center;
    z-index: -2;
}

.shiny{
    background: transparent url(img/shiny.webp) repeat top center;
    z-index: -1;
    -webkit-animation: move-shiny 200s linear infinite;
            animation: move-shiny 200s linear infinite;
}

/* --------- Beginscherm ----------- */
.beginscherm--header{
    max-width: 90vw;
    height: 30vh;
}

.beginscherm--header--figure{
    position: absolute;
    right: 0;
    margin: 2%;
}

.beginscherm--logo{
    max-height: 25vh;
}

.beginscherm--main{
    max-height: 60vh;
}

.beginscherm--section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60vh;
}

.beginscherm--section > a{
    text-decoration: none;
    color: black;
}

.beginscherm--button{
    padding: 1em 1.5em;
    border: 0.1em black solid;
    border-radius: 1em;
    background-color: var(--alien1);
    font-weight: 600;
    font-size: 300%;
    cursor: pointer;
}

.beginscherm--footer{
    height: 10vh;
    margin: 0 2em;
}

.beginscherm--footer--p{
    font-size: 230%;
    text-align: center;
}


/* ---------- Verhaalscherm ---------- */
.verhaalscherm--header{
    width: 98vw;
    height: 20vh;
    margin: 1vh 1vw;
    z-index: -3;
}

.verhaalscherm--header--figure{
    position: absolute;
    right: 0;
    margin: 2%;
    z-index: -1;
}

.verhaalscherm--logo{
    max-height: 18vh;
}

.verhaalscherm--section{
    width: 90vw;

    height: 70vh;
    margin: 5vh 5vw;
    padding: 2em;
    border: 1em solid var(--mars1);
    border-radius: 1em;
    background-color: var(--mars2);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 1em 1fr 1em 1fr 1em 1fr 1em 1fr 1em 1fr 1em 1fr 1em 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 1em;
}

.verhaalscherm--section > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.verhaalscherm--section > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.verhaalscherm--section > *:nth-child(3){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.verhaalscherm--section > *:nth-child(4){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.verhaalscherm--section > *:nth-child(5){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

.verhaalscherm--section > *:nth-child(6){
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}

.verhaalscherm--section > *:nth-child(7){
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}

.verhaalscherm--section > *:nth-child(8){
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}

.verhaalscherm--section > *:nth-child(9){
    -ms-grid-row: 9;
    -ms-grid-column: 1;
}

.verhaalscherm--section > *:nth-child(10){
    -ms-grid-row: 9;
    -ms-grid-column: 3;
}

.verhaalscherm--section > *:nth-child(11){
    -ms-grid-row: 11;
    -ms-grid-column: 1;
}

.verhaalscherm--section > *:nth-child(12){
    -ms-grid-row: 11;
    -ms-grid-column: 3;
}

.verhaalscherm--section > *:nth-child(13){
    -ms-grid-row: 13;
    -ms-grid-column: 1;
}

.verhaalscherm--section > *:nth-child(14){
    -ms-grid-row: 13;
    -ms-grid-column: 3;
}

.verhaalscherm--section > *:nth-child(15){
    -ms-grid-row: 15;
    -ms-grid-column: 1;
}

.verhaalscherm--section > *:nth-child(16){
    -ms-grid-row: 15;
    -ms-grid-column: 3;
}

.verhaalscherm--section--p{
    background-color: var(--mars2);
    font-size: 175%;
    text-align: center;
}

.verhaalscherm--date{
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
}

.verhaalscherm--tekst1{
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 4 / 3;
}

.verhaalscherm--tekst2{
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 4 / 1 / 6 / 3;
}

.verhaalscherm--tekst3{
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 6 / 1 / 8 / 3;
}

.verhaalscherm--figure{
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 8 / 1 / 9 / 3;
}

.verhaalscherm--arrow{
    float: right;
}

/* ---------- Verhaalscherm2 ---------- */
.verhaalscherm2--section{
    width: 90vw;
    height: 70vh;
    margin: 5vh 5vw;
    padding: 2em;
    border: 1em solid var(--mars1);
    border-radius: 1em;
    background-color: var(--mars2);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 1em 1fr 1em 1fr 1em 1fr 1em 1fr 1em 1fr 1em 1fr 1em 1fr 1em 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 1em;
}
.verhaalscherm2--section > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.verhaalscherm2--section > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.verhaalscherm2--section > *:nth-child(3){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.verhaalscherm2--section > *:nth-child(4){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}
.verhaalscherm2--section > *:nth-child(5){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}
.verhaalscherm2--section > *:nth-child(6){
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}
.verhaalscherm2--section > *:nth-child(7){
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}
.verhaalscherm2--section > *:nth-child(8){
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}
.verhaalscherm2--section > *:nth-child(9){
    -ms-grid-row: 9;
    -ms-grid-column: 1;
}
.verhaalscherm2--section > *:nth-child(10){
    -ms-grid-row: 9;
    -ms-grid-column: 3;
}
.verhaalscherm2--section > *:nth-child(11){
    -ms-grid-row: 11;
    -ms-grid-column: 1;
}
.verhaalscherm2--section > *:nth-child(12){
    -ms-grid-row: 11;
    -ms-grid-column: 3;
}
.verhaalscherm2--section > *:nth-child(13){
    -ms-grid-row: 13;
    -ms-grid-column: 1;
}
.verhaalscherm2--section > *:nth-child(14){
    -ms-grid-row: 13;
    -ms-grid-column: 3;
}
.verhaalscherm2--section > *:nth-child(15){
    -ms-grid-row: 15;
    -ms-grid-column: 1;
}
.verhaalscherm2--section > *:nth-child(16){
    -ms-grid-row: 15;
    -ms-grid-column: 3;
}
.verhaalscherm2--section > *:nth-child(17){
    -ms-grid-row: 17;
    -ms-grid-column: 1;
}
.verhaalscherm2--section > *:nth-child(18){
    -ms-grid-row: 17;
    -ms-grid-column: 3;
}

.verhaalscherm--tekst4{
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 9 / 1 / 10 / 3;
}

/* ---------- Kamers/Main screen ---------- */
.kamer--main{
    max-height: 70vh;
}

.main--section--image{
    position: relative;
    z-index: 0;
    max-height: 70%;
    max-width: 90vw;
    margin: 1em auto;
    object-fit: contain;
}

.main--section--text{
    display: none;
    z-index: 0;
    max-height: 30%;
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    border: 0.5em solid var(--mars1);
    border-radius: 1em;
    background-color: var(--mars2);
    font-size: 1.2rem;
}

.image--arrow{
    cursor: pointer;
    position: absolute;
    color: var(--alien1);
    padding: 0;
    font-size: 6rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-text-stroke: 0.1rem black;
    text-decoration: none;
    object-fit: none;
}

.image--arrowright, .image--arrowleft{
    top: 50%;
    width: auto;
    margin-top: -5rem;
}

.image--arrowup, .image--arrowdown{
    left: 50%;
    height: auto;
    margin: -5vh auto;
}

.image--arrowright{
    right: 0;
}

.image--arrowleft{
    left: 0;
}

.image--arrowup{
    top: 0;
}

.image--arrowdown{
    bottom: 0;
}


/* --------- Kamer header ------ */
.kamer--header{
    height: 5vh;
}

.kamer--header--figure{
    position: absolute;
    right: 0;
    margin: 2%;
    z-index: -1;
}


/* ----------- willem kamer ----------- */
@media screen and (min-width: 400px) {

}

.puzzelkamer--main{
    width: 90vw;
    height: 70vh;
    margin: 5vh 5vw;
    padding: 2em;
    border: 1em solid var(--mars1);
    border-radius: 1em;
    background-color: var(--mars2);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 1em 1fr 1em 1fr 1em 1fr 1em 1fr 1em 1fr 1em 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 1em;
}

.puzzelkamer--main > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.puzzelkamer--main > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.puzzelkamer--main > *:nth-child(3){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.puzzelkamer--main > *:nth-child(4){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.puzzelkamer--main > *:nth-child(5){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

.puzzelkamer--main > *:nth-child(6){
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}

.puzzelkamer--main > *:nth-child(7){
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}

.puzzelkamer--main > *:nth-child(8){
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}

.puzzelkamer--main > *:nth-child(9){
    -ms-grid-row: 9;
    -ms-grid-column: 1;
}

.puzzelkamer--main > *:nth-child(10){
    -ms-grid-row: 9;
    -ms-grid-column: 3;
}

.puzzelkamer--main > *:nth-child(11){
    -ms-grid-row: 11;
    -ms-grid-column: 1;
}

.puzzelkamer--main > *:nth-child(12){
    -ms-grid-row: 11;
    -ms-grid-column: 3;
}

.puzzelkamer--main > *:nth-child(13){
    -ms-grid-row: 13;
    -ms-grid-column: 1;
}

.puzzelkamer--main > *:nth-child(14){
    -ms-grid-row: 13;
    -ms-grid-column: 3;
}

/* ------- Image map ------ */
.svg--kamer{
    border: 1rem solid var(--mars1);
    border-radius: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-height: 70vh;
    max-width: 80vw;
    object-fit: contain;
}

#svg_image3{
    -webkit-filter: brightness(0.1);
            filter: brightness(0.1);
}

#arrow_kamer4{
    display: none;
}

/* -------- Inventory System ------ */
.kamer--footer{
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.footer--section{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1vw 1fr 1vw 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1vw;
    grid-row-gap: 0;
    font-size: 300%;
    bottom: 0;
    width: 80vw;
    height: 10vh;
    z-index: 0;
}

.footer--section > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.footer--section > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.footer--section > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.itemBox{
    border: 0.6rem solid var(--mars1);
    background-color: var(--mars2);
    border-radius: 1rem;
    margin: auto;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
}

#itemBox1{
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
}


#itemBox2{
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
}


#itemBox3{
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / 2 / 4;
}

.item_key{
    color: white;
    background-color: var(--mars2);
}

#item1_key{
    display: none;
}

#item2_key{
    display: none;
}

#item3_key{
    display: none;
}

.button1{
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.pickimage{
    position: absolute;
    top: -55%;
    left: 10%;
    width: 80%;
    height: auto;
    pointer-events: none;
    -webkit-animation: shake 0.82s, shake-pause 3s;
            animation: shake 0.82s, shake-pause 3s;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-animation-delay: 3s, 3s;
            animation-delay: 3s, 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.options{
    background-color: #D8572A;
    max-width:90vw;
    height:100%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position: inline-block;

}

.countNum{
    color:#210535
}

.verhaalscherm--arrow{
    background-color: #6CC417;
    border-radius: 20px 20px 20px 20px;
}

.kiezen{
    color: #6CC417;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* ------- Animations -------- */
@-webkit-keyframes move-shiny {
    from{
        background-position: 0 0 ;
    }
    to{
        background-position: -10000px 5000px
    }
}
@keyframes move-shiny {
    from{
        background-position: 0 0 ;
    }
    to{
        background-position: -10000px 5000px
    }
}

@-webkit-keyframes shake {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0);
                transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
                transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, 0, 0);
                transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        -webkit-transform: translate3d(4px, 0, 0);
                transform: translate3d(4px, 0, 0);
      }

      100%{

      }
    }

@keyframes shake {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0);
                transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
                transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, 0, 0);
                transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        -webkit-transform: translate3d(4px, 0, 0);
                transform: translate3d(4px, 0, 0);
      }

      100%{

      }
    }

    @-webkit-keyframes shake-pause {
        50% {
          -webkit-transform-origin: 12vmin center;
                  transform-origin: 12vmin center;
        }
        50.01% {
          -webkit-transform-origin: center center;
                  transform-origin: center center;
        }
        100% {
          -webkit-transform-origin: center center;
                  transform-origin: center center;
        }
      }

    @keyframes shake-pause {
        50% {
          -webkit-transform-origin: 12vmin center;
                  transform-origin: 12vmin center;
        }
        50.01% {
          -webkit-transform-origin: center center;
                  transform-origin: center center;
        }
        100% {
          -webkit-transform-origin: center center;
                  transform-origin: center center;
        }
      }

/* ------------ Responsive ------------- */
@media screen and (min-height: 650px) {
    .main--section--text{
        display: block;
    }

}